* {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #729DF2;
}

#texto-saida-label {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 2px;
  
}


section {
  background-color: #F2F2F2;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px;
  max-width: 100%;
  text-align: center;
}

footer p{
  position: relative;
  background-color: #F2F2F2;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 5px 5px 15px;
  max-width: 100%;
  text-align: center;
}


fieldset {
  border: none;
}

fieldset:nth-child(3) {
  display: flex;
  padding-top: 20px;
  width: 70%;
}

fieldset:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.container {
  position: relative;
}

.container label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #A0BBF2;
  position: absolute;
  line-height: 70px;
  top: 0px;
  left: 20px;
  user-select: none;
  pointer-events: none;
  transition: 0.5s;
}

.container #texto-entrada,
#texto-saida {
  width: calc(100% - 20px);
  height:70px;
  border: none;
  border-radius: 8px;
  color: rgb(90, 86, 86);
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
}

.icone {
  margin-right: 5px;
  align-items: center;
}

.btn {
  position: relative;

  display: block;
  margin: 15px 0;
  width: 100%;
  height: 40px;


  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #e67e22;
  color: #ecf0f1;
  font-weight: bold;

  transition: background-color .3s;
}

.btn:hover,
.btn:focus {
  background-color: #729DF2;
}

.btn>* {
  position: relative;
}

header{
  margin: 30px 0px 10px 30px;
}

#title {
  font-size: 24px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
