* {
  margin: 0;
  margin-top: 10;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #729DF2;
}

section {
  background-color: #F2F2F2;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px;
  max-width: 70%;
  text-align: center;
}


fieldset {
  border: none;
}

fieldset:nth-child(2) {
  display: flex;
  padding-top: 20px;
  width: 70%;
    }

fieldset:nth-child(2) {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;

}


.container{
  position: relative;
}

.container label{
  text-transform: uppercase;
  font-size:14px;
  font-weight: 700;
  color:#A0BBF2;
  position: absolute;
  line-height: 70px;
  top: 0px;
  left: 20px;
  user-select:none;
  pointer-events: none;
  transition:0.5s;
}

.container #texto-entrada, #texto-saida{
  margin:10px 10px;
  width:calc(100% - 20px);
  height: 70px;
  border: none;
  border-radius:8px;
  color:rgb(90, 86, 86);
  font-size: 18px;
  font-weight:700;
  padding: 10px;
}

.btn {
  position: relative;

  display: block;
  width: 100%;
  height: 40px;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #e67e22;
  color: #ecf0f1;

  transition: background-color .3s;
}

.btn:hover,
.btn:focus {
  background-color: #729DF2;
}

.btn>* {
  position: relative;
}



#header {
  text-align: center;
  height: 60px;
  background-color: blue;

}

#title {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

#texto-entrada {
  border-radius: 0.5em;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0.5em;
  height: 50px;
}

#texto-saida {
  border-radius: 0.5em;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0.5em;
  width: 100%;
  height: 70px;
}